@keyframes scroll {
  from {
    background-position: 0px;
  }
  to {
    background-position: 128px;
  }
}

body {
  background-color: #000000;
  background-image: url(/assets/loop.svg);
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  margin: 0px;
  padding: 0px;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;

  transition: filter 0.25s;
  filter: drop-shadow(0 0 8px #ffffff00) drop-shadow(0 0 16x #ffffff00);
}

a:hover {
  filter: drop-shadow(0 0 8px #ffffffff) drop-shadow(0 0 16px #ffffff80);
}

.frame {
  width: 48px;
  height: 48px;
  box-sizing: border-box;

  border-width: 16px;
  border-style: solid;
  border-image: url(/assets/frame.svg) 16 16 fill;
}
