@keyframes scroll {
  from {
    background-position: 0px;
  }
  to {
    background-position: 128px;
  }
}

@keyframes effect {
  from {
    opacity: 0%;
    width: 590px;
    left: calc(50% - 295px);
    top: calc(50% - 25px);
  }

  to {
    opacity: 25%;
    width: 649px;
    left: calc(50% - 325px);
    top: calc(50% - 28px);
  }
}

body {
  background-color: #000000;
  background-image: url(assets/loop.svg);
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.logo {
  position: absolute;
  left: calc(50% - 295px);
  top: calc(50% - 25px);
  filter: drop-shadow(0px 0px 26px #ffffff80);
}

.effect {
  animation-name: effect;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: none;
}

.directory {
  position: absolute;
  top: calc(50% + 48px);
  width: 100%;
  text-align: center;

  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.nah {
  color: #808080;
}
