@keyframes effect {
  from {
    opacity: 0%;
    scale: 1;
  }

  to {
    opacity: 25%;
    scale: 1.1;
  }
}

.logo {
  position: absolute;
  left: calc(50% - 295px);
  top: calc(50% - 25px);
  filter: drop-shadow(0px 0px 26px #ffffff80);
  mix-blend-mode: difference;
}

.effect {
  animation-name: effect;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: none;
  mix-blend-mode: lighten;
}

.directory {
  position: absolute;
  top: calc(50% + 48px);
  width: 100%;
  text-align: center;

  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  z-index: 256;
}

.nah {
  color: #808080;
  transition: none;
  filter: none;
}

.nah:hover {
  filter: none;
}

.ash {
  position: absolute;
  bottom: 0px;
  right: 32px;
  height: 394px;
  mix-blend-mode: difference;
  z-index: -1;
}
